<div class="jumbotron text-center">
    <h1>Додаток який ми розробляємо для ItStep</h1>
    <p class="lead">Вітаємо у нашому додатку тут ви можете зареєструватись і дивитись розклад пар</p>
    <div>
        <a [routerLink]="['/register']" class="btn btn-primary">
        Реєстрація
      </a>
        <a [routerLink]="['/login']" class="btn btn-default">Логування</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>Тут я використовував технологію Express</p>
    </div>
    <div class="col-md-4">
        <h3>Angular CLI</h3>
        <p>Тут я використовував технологію автогенерації компонентів Angular</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Тут я використовував технологію логування за допомогою токенів</p>
    </div>
</div>