<div class="jumbotron text-center">
    <h1>Кінотеатр який вам захочеться відвідувати знову і знову</h1>
    <p class="lead">Вітаємо у нашому кінотеатрі тут ви можете придбати квиток та подивитись розклад фільмів</p>
    <div>
        <a [routerLink]="['/register']" class="btn btn-primary">
        Реєстрація
      </a>
        <a [routerLink]="['/login']" class="btn btn-default">Логування</a>
    </div>
</div>

<app-slider></app-slider>

<!-- <div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>Тут я використовував технологію Express</p>
    </div>
    <div class="col-md-4">
        <h3>Angular CLI</h3>
        <p>Тут я використовував технологію автогенерації компонентів Angular</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Тут я використовував технологію логування за допомогою токенів</p>
    </div>
</div> -->